---
# {{ ansible_managed }}

global:
  sendAnonymousUsage: true
  checkNewVersion: false

api:
  insecure: true # utilisé pour afficher le tableau de bord via HTTP
  dashboard: true

pilot:
  dashboard: false

log:
  filePath: "{{ traefik_log_file }}"
  format: json
  level: "ERROR"

providers:
  file:
    directory: "/etc/traefik/dynamic"
    watch: true

entryPoints:
  web:
    address: ":80"
    #http:
      #redirections:
        #entryPoint:
          #to: websecure
          #scheme: https
  websecure:
    address: ":443"
